body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(./food-image.jpg);
    font-family: 'Roboto', sans-serif;
}

.text-shadow{
    text-shadow: 8px 8px 8px rgb(0, 0, 0);
}